/* 
    Document   : main
    Created on : 14-abr-2012, 22:20:35
    Author     : Leonardo
    Description:
        Definir estilos de la plantilla Principal (main)
*/

/* sobreescribir ~/css/main.css */

body { 
    background-color: grey; 
}
.container { 
    background-color: white 
}

#header {
    background-color: #6CA6D1;
}

#footer {
    background-color: #6CA6D1;
}

#footer p {
    color: #000;
}

/*
 * Colores para el Grocery Crud tema 'datatables'
*/

/* filas */
tr.odd {
    background-color: #f7f7f7;
}

tr.even {
    background-color: #fff;
}

/* Columna ordenada */
tr.odd td.sorting_1 {
    background-color: #e3e3e3;
}

tr.even td.sorting_1 {
    background-color: #f3f3f3;
}

/*
 * Colores para el Grocery Crud tema 'flexigrid'
*/
.flexigrid div.bDiv {
    background: #fff;
}

.flexigrid tr td.sorted {
    background: #f3f3f3;
    border-right:1px solid #ddd;
    border-bottom:1px solid #f3f3f3;
}
.flexigrid tr.erow td {
    background: #f7f7f7;
    border-bottom:1px solid #f7f7f7;
}
.flexigrid tr.erow td.sorted {
    background: #e3e3e3;
    border-bottom:1px solid #e3e3e3;
}
.flexigrid div.bDiv tr:hover td,.flexigrid div.bDiv tr:hover td.sorted,.flexigrid div.bDiv tr.trOver td.sorted,.flexigrid div.bDiv tr.trOver td {
    background: #d9ebf5;
    border-left:1px solid #eef8ff;
    border-bottom:1px dotted #a8d8eb;
}

/* LQ 20120617: Menu styles */
/* begin Menu */
/* menu structure */

ul.hmenu a, ul.hmenu a:link, ul.hmenu a:visited, ul.hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.hmenu, ul.hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.hmenu li li{
   float: none;
   width: auto;
}
ul.hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.hmenu:after, ul.hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.hmenu, ul.hmenu ul {
   min-height: 0;
}

ul.hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.hmenu ul.hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.hmenu ul.hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.hmenu ul ul.hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.hmenu ul ul.hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.hmenu li li:hover>ul.hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.hmenu li li:hover>ul.hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
}

/* end menu structure */

/* menu bar */

.nav
{
   margin:0 auto;
   min-height: 38px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
   /*background-image: url('../images/nav.png');*/
   background-color: #4670B5;
}

.nav:before, .nav:after{
   /*background-image: url('../images/nav.png');*/
}
.nav:before{
   right: 5px;
}
.nav:after{
   width: 5px;
}
/* end menu bar */
.nav-outer{
   position:absolute;
   width:100%;
}

/* end Menu */

/* begin MenuItem */
ul.hmenu>li>a
{
   position: relative;
   display: block;
   height: 38px;
   cursor: pointer;
   text-decoration: none;
   color: #BFBFBF;
   padding: 0 24px;
   line-height: 38px;
   text-align: center;
}

ul.hmenu>li>a:before, ul.hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.hmenu a, .hmenu a:link, .hmenu a:visited, .hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.hmenu>li>a:hover:before, ul.hmenu>li:hover>a:before {
   background-position: center left;
}
ul.hmenu>li>a:hover:after, ul.hmenu>li:hover>a:after {
   background-position: center right;
}
ul.hmenu>li>a:hover, ul.hmenu>li:hover>a{
   color: #404040;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.hmenu>li {
   margin-left:0;
}
ul.hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   background-image: url('../images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #636363;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #404040;
   margin:0;
   padding: 0 8px;
}

.hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a:hover, .hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #404040;
   margin:0;
   padding: 0 8px;
}

ul.hmenu>li>a.active {
   color: #CCC;
   /*background-color: #fff;*/
   font-weight: bold;
}

.hmenu ul li a:hover
{
   color: #DEDEDE;
   background-position: left bottom;
   border-color: #636363;
   border-top-width: 1px !important;
}

.hmenu ul li a.hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.hmenu ul li:hover>a
{
   color: #DEDEDE;
   background-position: left bottom;
   border-color: #636363;
   border-top-width: 1px !important;
}

/* end MenuSubItem */