/* 
    Description:
        Definir estilos de la plantilla Principal (main)
*/

header {
    margin-bottom: 0;
    border-bottom: 0;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
}

/* CSS HACKS!*/
.ui-datepicker-calendar th { background-color: transparent; }
.ui-widget { font-size: 1em; }
